@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth
}

body {
    scroll-behavior: smooth;
    /* background-color: gray; */
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar {
    background-color: #5243AC;
    transition: all 0.2s ease-in-out;
}

.bg-dark {
    background: transparent !important;
}

.bg-dark.scrolled {
    background: #5243AC !important;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: white !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
    transition: all 0.3s ease-in-out;
}


.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    width: 10%;
    padding-bottom: 5px;
    margin-bottom: -8px;
    transition: all 0.4s ease-in-out;
}

/* navbar end */


/* jumbotron */
.jumbotron {
    background-size: cover;
    height: 300px;
    background-color: #5243AC;
}

.jumbotron .display-4 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 0px;
}

.jumbotron .welcome {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.jumbotron img {
    width: 350px;
    margin-top: 31px;

}



/* info panel */
.info-panel {
    margin-top: -120px;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
}

.info-panel img {
    margin-left: 75px;
}

.info-panel h1 {
    font-size: 24px;
    /* margin-top: 100px; */
    justify-content: left baseline;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.info-panel p {
    display: flex;
    justify-content: center;
    color: #5243AC
}

.info-panel .download {
    background-color: white;
    color: #5243AC;
    border-color: #5243AC;
    border-radius: 20px;
    border-width: 2px;
    width: 150px;
    height: 50px;
    display: inline;
    text-align: center;
    margin-left: 99px;
    font-weight: 600;
}

.info-panel .download:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #5243AC;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
}

.aboutme {
    background-color: #5243AC;
    padding: 20px;
    padding-bottom: 50px;
    color: #fff;
}

.aboutme h1 {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
}

.aboutme p {
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    font-size: 18px;
}

.aboutme i {
    display: inline block;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.aboutme i:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.aboutme img {
    width: 100%;
}


/* Contact me */
.contactme h1 {
    text-align: center;
    color: #5243AC;
    font-size: 32px;
}

.form {
    /* max-width: 800px; */
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.form .form-field {
    position: relative;
    margin: 32px;
}

.form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5243AC;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}


.form .input-text:focus {
    outline: none;
}

.form .label {
    position: absolute;
    left: 0px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5243AC;
    cursor: text;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.form .submit {
    justify-content: end;
    background-color: white;
    color: #5243AC;
    border-color: #5243AC;
    border-radius: 20px;
    border-width: 2px;
    width: 150px;
    height: 50px;
    display: inline;
    text-align: center;
    font-weight: 600;
}

.form .submit:hover {
    color: #fff;
    background-color: #5243AC;
    transition: all 0.3s ease-in-out;
}






















/* Portfolio */
.card,
.card img {
    border-radius: 30px;
}

.card:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
}


.more {
    height: auto !important;
    border-radius: 26px;
    cursor: pointer;
    background-color: #5243AC;
    margin: 0 !important;
    text-decoration: none !important;
    margin-top: 30px;
}


.more img {
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
}

.batas,
.batas img {
    width: 100%;
    position: relative;
}

.batasbawah,
.batasbawah img {
    width: 100%;
    margin-top: -40px;
}




















@media (min-width: 992px) {
    .navbar {
        background-color: #5243AC;
        transition: all 0.2s ease-in-out;
    }

    .bg-dark {
        background: transparent !important;
    }

    .bg-dark.scrolled {
        background: #5243AC !important;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fff;
        width: 50%;
        padding-bottom: 5px;
        margin-bottom: -8px;
        border-radius: 0px;
    }


    .jumbotron {
        margin-top: -75px;

    }

    .jumbotron .welcome {
        font-size: 18px;
    }

    .jumbotron img {
        width: 300px;
        margin-left: 400px;
        margin-top: 39px;
    }

    .info-panel h1 {
        font-size: 24px;
        margin-top: 100px;
        justify-content: left baseline;
        font-family: 'Poppins', sans-serif;
        /* margin-bottom: 0px; */
        justify-content: start;
    }

    .info-panel img {
        margin-left: 0px;
    }

    .jumbotron img {
        margin-top: 9px;
    }

    .info-panel p {
        justify-content: start;

    }


    .info-panel a {
        text-decoration: none;
    }

    .info-panel .download {
        margin-top: 100px;
        justify-content: center;
        margin-left: 0px;
        background-color: white;
        color: #5243AC;
        border-color: #5243AC;
        border-radius: 20px;
        border-width: 2px;
        width: 150px;
        height: 50px;
        display: inline;
        text-align: center;
        margin-left: 100px;
        font-weight: 600;
    }

    .batasbawah,
    .batasbawah img {
        width: 100%;
        margin-top: -97px;
    }

    .aboutme {
        background-color: #5243AC;
        padding: 20px;
        padding-bottom: 250px;
        color: #fff;
    }

    .aboutme p {
        text-align: leftf;
        font-weight: 300;
        padding-top: 70px;
        font-size: 24px;
    }
